<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
    <div style="background-image: url(https://static.vecteezy.com/system/resources/previews/000/912/307/large_2x/wood-texture-wood-texture-background-photo.jpg);" class="bg-transparent">
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto" >
            <h1 class="fw-light" >Nuestro equipo</h1>
            <p class="lead text-muted">Tenemos a estos tres profeccionales preparados para todas sus consultas y necesidades.</p>
            
          </div>
        </div>
    </section>
    <div class="container bg-dark">
        
        <table class="table bg-light">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Edad</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>25</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>35</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>Lopez</td>
                <td>40</td>
            </tr>
            </tbody>
        </table>
    </div>
    </div>
</body>
</html>
